In [30]:
#importing libraries

from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [53]:
#connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate, br, zstd", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests": "1"}
page=requests.get(URL,headers=headers)
soup1 = BeautifulSoup(page.content,'html.parser')
soup2 = BeautifulSoup(soup1.prettify(),'html.parser')
title = soup2.find(id='productTitle').get_text()
price = soup2.find('span', class_='aok-offscreen').get_text()
print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    $16.99

In [54]:
price = price.strip()[1:]
title = title.strip()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [58]:
import datetime
today = datetime.date.today()
print(today)

2024-09-06

In [62]:
import csv
header = ['Title', 'Price', 'Date']
data = [title, price, today]
type(data)
with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [65]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Asus Vivobook\AmazonWebScraperDataset.csv')
print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-06
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-06

In [64]:
#appending data to csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [66]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate, br, zstd", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests": "1"}
    page=requests.get(URL,headers=headers)
    soup1 = BeautifulSoup(page.content,'html.parser')
    soup2 = BeautifulSoup(soup1.prettify(),'html.parser')
    title = soup2.find(id='productTitle').get_text()
    price = soup2.find('span', class_='aok-offscreen').get_text()
    price = price.strip()[1:]
    title = title.strip()
    import datetime
    today = datetime.date.today()
    print(today)
    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]
    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [68]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Asus Vivobook\AmazonWebScraperDataset.csv')
print(df)

                                                Title           Price  \
0   Funny Got Data MIS Data Systems Business Analy...           16.99
1   Funny Got Data MIS Data Systems Business Analy...           16.99
2   Funny Got Data MIS Data Systems Business Analy...  bout this item
3   Funny Got Data MIS Data Systems Business Analy...  bout this item
4   Funny Got Data MIS Data Systems Business Analy...  bout this item
5   Funny Got Data MIS Data Systems Business Analy...  bout this item
6   Funny Got Data MIS Data Systems Business Analy...  bout this item
7   Funny Got Data MIS Data Systems Business Analy...  bout this item
8   Funny Got Data MIS Data Systems Business Analy...           16.99
9   Funny Got Data MIS Data Systems Business Analy...  bout this item
10  Funny Got Data MIS Data Systems Business Analy...  bout this item
11  Funny Got Data MIS Data Systems Business Analy...  bout this item
12  Funny Got Data MIS Data Systems Business Analy...  bout this item
13  Funny Got Data MIS Data Systems Business Analy...  bout this item
14  Funny Got Data MIS Data Systems Business Analy...           16.99
15  Funny Got Data MIS Data Systems Business Analy...  bout this item

          Date
0   2024-09-06
1   2024-09-06
2   2024-09-06
3   2024-09-06
4   2024-09-06
5   2024-09-06
6   2024-09-06
7   2024-09-06
8   2024-09-06
9   2024-09-06
10  2024-09-06
11  2024-09-06
12  2024-09-06
13  2024-09-06
14  2024-09-06
15  2024-09-06